<app-user-layout>
    <router-outlet>
        <main>
            <section class="masthead -type-4">
                <div class="masthead-slider overflow-x-hidden js-masthead-slider-4">


                    <div>
                        <div class="masthead__image">
                            <img src="assets/images/banner.jpg" alt="image">
                        </div>

                        <div class="container">
                            <div class="row justify-center">
                                <div class="col-xl-9">
                                    <div class="masthead__content">
                                        <div class="text-center">
                                            <h1 class="text-60 lg:text-40 md:text-30 text-white">Find Your Dream Tour Package</h1>
                                            <p class="text-white mt-5">Discover amzaing places at exclusive deals</p>

                                            <div class="d-inline-block">
                                                <a href="#" class="button -md -outline-white h-50 text-white mt-30">Discover More</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="masthead__scroll">
                    <div class="text-14 text-white">Scroll Now</div>
                    <div class="-line"></div>
                </div>
            </section>

            <!-- popular destinations-->
            <section class="layout-pt-md layout-pb-md">
                <div class="container">
                    <div class="row y-gap-20 justify-between items-end">
                        <div class="col-auto">
                            <div class="sectionTitle -md">
                                <h2 class="sectionTitle__title">Popular Destination in India</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a [routerLink]="['/destinations']" class="button -md -blue-1 bg-blue-1-05 text-blue-1">
                              More <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                        </div>
                    </div>

                    <div class="pt-40 overflow-hidden row">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide *ngFor="let item of stateList">
                                <a [routerLink]="['/india/state', item?.name]" class="citiesCard -type-2 ">
                                    <div class="citiesCard__image rounded-20 ratio ratio-3:4">
                                        <img class="img-ratio rounded-20 js-lazy" [src]="env.host + env.filePath +  item?.featuredImage" [alt]="item?.name">
                                    </div>

                                    <div class="citiesCard__content mt-10">
                                        <h4 class="text-18 lh-13 fw-500 text-dark-1">{{item?.name}}</h4>
                                    </div>
                                </a>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </section>
            <!-- blog post-->

            <!-- popular destinations-->
            <section class="layout-pt-md layout-pb-md">
                <div class="container">
                    <div class="row y-gap-20 justify-between items-end">
                        <div class="col-auto">
                            <div class="sectionTitle -md">
                                <h2 class="sectionTitle__title">Best Tour Packages</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a [routerLink]="['/tour/packages']" class="button -md -blue-1 bg-blue-1-05 text-blue-1">
                              More <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                        </div>
                    </div>

                    <div class="pt-40 overflow-hidden row">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide *ngFor="let package of tourPackageArr">
                                <a class="citiesCard -type-2 " [routerLink]="['/tour/package', package?._id]">
                                    <div class="citiesCard__image rounded-20 ratio ratio-3:4">
                                        <img class="img-ratio rounded-20 js-lazy" [src]="env.host + env.filePath +  package?.featuredImage" alt="image">
                                    </div>

                                    <div class="citiesCard__content mt-10">
                                        <h4 class="text-16 lh-13 fw-500 text-dark-1">{{package?.packageName}}</h4>
                                    </div>
                                    <div class="citiesCard__content mt-10">
                                        <h4 class="text-16 lh-13 fw-400 text-blue-1"> {{package?.tourDays}}Days/{{package?.tourNights}}Nights</h4>
                                    </div>
                                </a>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </section>

            <!-- popular destinations-->
            <section class="layout-pt-md layout-pb-md">
                <div class="container">
                    <div class="row y-gap-20 justify-between items-end">
                        <div class="col-auto">
                            <div class="sectionTitle -md">
                                <h2 class="sectionTitle__title">Best of Andaman Tour Package</h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a [routerLink]="['/india/state/Andaman and Nicobar Islands']" class="button -md -blue-1 bg-blue-1-05 text-blue-1">
                              More <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                        </div>

                    </div>

                    <div class="pt-40 overflow-hidden row">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide *ngFor="let package of andamanTourPackages">
                                <a [routerLink]="['/tour/package', package?._id]" class="citiesCard -type-2 ">
                                    <div class="citiesCard__image rounded-20 ratio ratio-3:4">
                                        <img class="img-ratio rounded-20 js-lazy" [src]="env.host + env.filePath +  package.featuredImage" alt="image">
                                    </div>
                                    <div class="citiesCard__content mt-10">
                                        <h4 class="text-16 lh-13 fw-500 text-dark-1">{{package?.packageName}}</h4>
                                    </div>
                                    <div class="citiesCard__content mt-10">
                                        <h4 class="text-16 lh-13 fw-400 text-blue-1"> {{package?.tourDays}}Days/{{package?.tourNights}}Nights</h4>
                                    </div>

                                </a>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </section>

            <app-latest-blog-post></app-latest-blog-post>

        </main>

    </router-outlet>
</app-user-layout>