<app-admin-layout>
    <router-outlet>
        <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
            <div class="dashboard__sidebar bg-white scroll-bar-1">
                <app-admin-sidebar></app-admin-sidebar>
            </div>
            <div class="dashboard__main">
                <div class="dashboard__content bg-light-2">
                    <div class="row y-gap-20 justify-between items-end pb-30 lg:pb-40 md:pb-32">
                        <div class="col-auto">
                            <h1 class="text-25 lh-14 fw-600">
                                {{ isEdit ? "Edit" : "Add" }} Tour Package
                            </h1>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                    <form [formGroup]="addPackageForm">
                        <div class="row py-30 px-30 rounded-4 bg-white shadow-3">
                            <div class="col-xl-9">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-basic-tab" data-bs-toggle="tab" data-bs-target="#nav-basic" type="button" role="tab" aria-controls="nav-basic" aria-selected="true"> Basic </button>
                                        <button class="nav-link" id="nav-facilities-tab" data-bs-toggle="tab" data-bs-target="#nav-facilities" type="button" role="tab" aria-controls="nav-facilities" aria-selected="false"> Facilities </button>
                                        <button class="nav-link" id="nav-itinerary-tab" data-bs-toggle="tab" data-bs-target="#nav-itinerary" type="button" role="tab" aria-controls="nav-itinerary" aria-selected="false"> Itinerary </button>
                                        <button class="nav-link" id="nav-gallery-tab" data-bs-toggle="tab" data-bs-target="#nav-gallery" type="button" role="tab" aria-controls="nav-gallery" aria-selected="false"> Galley </button>
                                        <button class="nav-link" id="nav-others-tab" data-bs-toggle="tab" data-bs-target="#nav-others" type="button" role="tab" aria-controls="nav-others" aria-selected="false"> Others </button>
                                        <button class="nav-link" id="nav-seo-tab" data-bs-toggle="tab" data-bs-target="#nav-seo" type="button" role="tab" aria-controls="nav-seo" aria-selected="false"> SEO </button>
                                    </div>
                                </nav>
                                <div class="tab-content mt-5 pt-5" id="nav-tabContent">
                                    <!-- Basic-->
                                    <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab" tabindex="0">
                                        <div class="row x-gap-20 y-gap-20">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="lh-1 text-16 text-light-1">Package Name</label>
                                                    <input type="text" formControlName="packageName" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="lh-1 text-16 text-light-1">Permalink</label>
                                                    <input type="text" formControlName="slug" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="lh-1 text-16 text-light-1">Price</label>
                                                            <input type="text" formControlName="price" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group" style="max-width: 180px">
                                                                    <label class="lh-1 text-16 text-light-1">Tour Duration (Nights)</label>
                                                                    <select class="form-control" formControlName="tourNights">
                                                    <option *ngFor="let n of numbers" [value]="n">
                                                    {{ n }}
                                                    </option>
                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group" style="max-width: 180px">
                                                                    <label class="lh-1 text-16 text-light-1">Tour Duration (Days)</label>
                                                                    <select class="form-control" formControlName="tourDays">
                                                    <option *ngFor="let n of numbers" [value]="n">
                                                    {{ n }}
                                                    </option>
                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="lh-1 text-16 text-light-1">State</label>
                                                    <select class="form-control" formControlName="state">
                                           <option [value]="">Select</option>
                                           <option [value]="state._id" *ngFor="let state of states">
                                           {{ state?.name }}
                                           </option>
                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="lh-1 text-16 text-light-1">Destination</label>
                                                    <select class="form-control" formControlName="destination">
                                        <option [value]="place?._id" *ngFor="let place of destinations">
                                        {{ place?.name }}
                                        </option>
                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="lh-1 text-16 text-light-1">categories</label>
                                                    <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="categories" [(ngModel)]="selectedCategories" [ngModelOptions]="{ standalone: true }"></ng-multiselect-dropdown>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="lh-1 text-16 text-light-1">Overview</label>
                                                    <quill-editor trackChanges="all" [modules]="modules" formControlName="description"></quill-editor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Facilities-->
                                    <div class="tab-pane fade" id="nav-facilities" role="tabpanel" aria-labelledby="nav-facilities-tab" tabindex="0">
                                        <div class="row x-gap-100 y-gap-15 pt-30 mb-3">
                                            <div class="col-12">
                                                <div class="text-18 fw-500">Facilities</div>
                                            </div>
                                            <div class="col-lg-3 col-sm-6" *ngFor="let option of facilities">
                                                <div class="row y-gap-15">
                                                    <div class="col-12">
                                                        <div class="d-flex items-center mb-10">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" name="name" [value]="option._id" (change)="updateSelectedValues($event)" />
                                                                <div class="form-checkbox__mark">
                                                                    <i class="fa-solid fa-check text-white"></i>
                                                                </div>
                                                            </div>
                                                            <div class="text-15 lh-11 ml-10">
                                                                {{ option?.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Itinerary details-->
                                    <div class="tab-pane fade" id="nav-itinerary" role="tabpanel" aria-labelledby="nav-itinerary-tab" tabindex="0">
                                        <div class="lh-1 text-16 mt-3 pb-5"> Itinerary Details </div>
                                        <div class="col-12 form-card" formArrayName="itinerary" *ngFor="let item of itinerary.controls; let i = index">
                                            <div [formGroupName]="i">
                                                <div class="row mb-5">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="lh-1 text-16 text-light-1">Day </label>
                                                            <select class="form-control" formControlName="day">
                                              <option *ngFor="let n of numbers" [value]="n">
                                              {{ n }}
                                              </option>
                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="lh-1 text-16 text-light-1">Heading</label>
                                                            <input type="text" formControlName="heading" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-5">
                                                    <label class="lh-1 text-16 text-light-1">Details</label>
                                                    <textarea required rows="2" formControlName="overview"></textarea>
                                                </div>
                                                <div class="button px-30 fw-400 text-14 bg-red-1 h-50 text-white mt-5" style="width: fit-content" (click)="deleteItem(i)"> Delete </div>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <div class="button px-30 fw-400 text-14 -blue-1 bg-blue-1 h-50 text-white" style="width: fit-content; margin-left: auto" (click)="addItem()"> Add </div>
                                        </div>
                                    </div>

                                    <!--Gallery-->
                                    <div class="tab-pane fade" id="nav-gallery" role="tabpanel" aria-labelledby="nav-gallery-tab" tabindex="0">
                                        <div class="lh-1 text-16 mt-3 pb-5"> Gallery </div>
                                        <div class="row x-gap-20 y-gap-20 pt-15">
                                            <div class="col-auto">
                                                <div class="w-200">
                                                    <div class="d-flex ratio ratio-1:1 file-upload">
                                                        <div class="flex-center flex-column text-center bg-blue-2 h-full w-1/1 absolute rounded-4 border-type-1">
                                                            <div class="icon-upload-file text-40 text-blue-1 mb-10"></div>
                                                            <div class="text-blue-1 fw-500"> Upload Images </div>
                                                            <input #fileUpload type="file" (change)="uploadGalleryImage($event)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="galleryImages.length > 0">
                                                <div class="col-auto" *ngFor="let img of galleryImages">
                                                    <div class="d-flex ratio ratio-1:1 w-200">
                                                        <img [src]="env.host + env.filePath + img" alt="image" class="img-ratio rounded-4" />
                                                        <div class="d-flex justify-end px-10 py-10 h-100 w-1/1 absolute">
                                                            <div class="size-40 rounded-4 delete-img">
                                                                <i class="fa fa-trash text-16"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>

                                    <!--others-->
                                    <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-others-tab" tabindex="0">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="lh-1 text-16 text-light-1">Inclusions</label>
                                                <quill-editor trackChanges="all" [modules]="modules" formControlName="inclusions"></quill-editor>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="lh-1 text-16 text-light-1">Exclusions</label>
                                                <quill-editor trackChanges="all" [modules]="modules" formControlName="exclusion"></quill-editor>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="lh-1 text-16 text-light-1">Cancellation Policy</label>
                                                <quill-editor trackChanges="all" [modules]="modules" formControlName="cancellationPolicy"></quill-editor>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="lh-1 text-16 text-light-1">Important Notes</label>
                                                <quill-editor trackChanges="all" [modules]="modules" formControlName="importantNotes"></quill-editor>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="lh-1 text-16 text-light-1">Extras</label>
                                                <quill-editor trackChanges="all" [modules]="modules" formControlName="extras"></quill-editor>
                                            </div>
                                        </div>
                                    </div>

                                    <!--seo-->
                                    <div class="tab-pane fade" id="nav-seo" role="tabpanel" aria-labelledby="nav-seo-tab" tabindex="0">
                                        <div formGroupName="seo">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Meta Title</label>
                                                    <input type="text" formControlName="title">
                                                </div>
                                            </div>
                                            <div class="col-12 mt-5">
                                                <div class="form-group">
                                                    <label>Meta Description</label>
                                                    <textarea required rows="2" formControlName="description"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-5">
                                                <div class="form-group">
                                                    <label>Meta Keywords</label>
                                                    <textarea required rows="2" formControlName="keywords"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3">
                                <div class="mt-30">
                                    <div class="fw-500">Featured Image</div>
                                    <!-- upload photo-->
                                    <div class="row x-gap-20 y-gap-20 pt-15" *ngIf="featuredImage == null">
                                        <div class="col-auto">
                                            <div class="w-200">
                                                <div class="d-flex ratio ratio-1:1 file-upload">
                                                    <div class="flex-center flex-column text-center bg-blue-2 h-full w-1/1 absolute rounded-4 border-type-1">
                                                        <input #fileUpload type="file" (change)="selectFile($event)" />
                                                        <i class="fa-solid fa-upload text-40 text-blue-1 mb-10"></i>
                                                        <div class="text-blue-1 fw-500">Upload Image</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- uploaded photo-->
                                    <div class="col-auto" *ngIf="featuredImage != null">
                                        <div class="d-flex ratio ratio-1:1 w-200">
                                            <img [src]="env.host + env.filePath + featuredImage" alt="image" class="img-ratio rounded-4" />
                                            <div class="d-flex justify-end px-10 py-10 h-100 w-1/1 absolute">
                                                <div class="size-40 rounded-4 delete-img">
                                                    <i class="fa fa-trash text-16"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block pt-30">
                                    <a class="button h-50 px-24 -dark-1 bg-blue-1 text-white" (click)="onSubmit()" *ngIf="!isEdit">Publish 
                            <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                                    <a class="button h-50 px-24 -dark-1 bg-blue-1 text-white" (click)="onUpdate()" *ngIf="isEdit">Update 
                            <div class="icon-arrow-top-right ml-15"></div>
                            </a>
                                </div>
                            </div>
                            <app-admin-footer></app-admin-footer>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </router-outlet>
</app-admin-layout>