:root {
    --primary-color: #3554d1;
}

body {
    background-color: #f6f8fb;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 15px;
    padding: 10px 20px;
}

.overlay {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 34%);
    }
    .container {
        position: relative;
    }
}

header {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 9;
    background-color: #f0f8ff24;
    ul li {
        color: #fff;
    }
    &.scrolled {
        position: fixed;
        background-color: #fff;
        ul li {
            color: #000;
        }
    }
    .navbar {
        background-color: #fff;
    }
    .navbar-toggler {
        outline: none !important;
        box-shadow: none !important;
    }
}

.breadcrumb {
    margin-top: 70px;
}

.page-banner {
    padding-top: 170px;
    padding-bottom: 100px;
}

.list-disc {
    margin-left: 15px;
    li {
        padding-left: 20px;
        position: relative;
        list-style-type: none;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 4px;
            height: 4px;
            background-color: #000;
            border-radius: 50%;
        }
    }
}

.form-group {
    margin-top: 20px;
    input,
    textarea {
        font-size: 13px;
    }
}

.modal-content {
    padding: 10px;
}

.owl-theme {
    .owl-nav {
        .owl-prev,
        .owl-next {
            width: 40px;
            height: 40px;
            border-radius: 50% !important;
            display: flex !important;
            justify-content: center;
            align-items: center;
            background-color: #fff !important;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            margin-top: 13%;
            margin-left: 0px;
            i {
                color: var(--primary-color) !important;
            }
        }
        .owl-next {
            right: 10px;
            left: auto;
        }
    }
}

.sticky-btn {
    background: #D60D45;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    height: 51px;
    width: 51px;
    padding: 6px 15px 7px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-transform: uppercase;
    z-index: 999;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    &.call {
        &::before {
            content: '';
            width: 62px;
            bottom: -8px;
            right: -7px;
            position: absolute;
            height: 62px;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 9px 8px #d60d45;
            -webkit-animation: doublePulse 1.5s ease infinite;
            animation: doublePulse 1.5s ease infinite;
        }
    }
    span {
        display: none;
    }
    &.whatsapp {
        background: #44be54;
        margin-top: 60px;
    }
}

@-webkit-keyframes doublePulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes doublePulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .mobile-foot {
        position: fixed;
        bottom: 0;
        z-index: 11;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0px -1px 4px 1px rgb(0 0 0 / 7%);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sticky-btn {
        position: static;
        border: none;
        width: 60%;
        height: auto;
        border-radius: 0;
        padding: 9px 15px 9px;
        border-right: 1px solid #cdcdcd;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0;
        transform: translateY(0);
        &::before,
        i {
            display: none;
        }
        span {
            display: block;
        }
        &.whatsapp {
            margin: 0;
        }
    }
}

.ws-100 {
    width: 100px;
}

.hs-100 {
    height: 100px;
}

.modal {
    .btn-close {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .heading {
        font-size: 20px;
        text-align: center;
        margin: 20px auto 10px;
    }
    .btn {
        margin: 30px auto 14px;
    }
    .modal-content {
        border: 0;
        border-radius: 10px;
    }
}

.placeTimeline {
    max-width: 483px;
    font-size: 13px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 6px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 9px;
    .swiper-slide {
        &::after {
            content: '';
            position: absolute;
            right: -13px;
            background-image: url(https://cdn-icons-png.flaticon.com/512/545/545682.png);
            background-size: 10px auto;
            width: 10px;
            height: 10px;
            background-repeat: no-repeat;
            top: 8px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-image: none !important;
        margin-top: -12px;
        color: #3554d1;
    }
    .swiper-button-disabled {
        opacity: 0;
    }
}

.tour-inclusive {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    .icon {
        width: 42px;
        height: 42px;
        border: 1px solid #c8c8c8;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        margin: 5px auto;
    }
    &.disabled {
        img {
            filter: contrast(0.1);
        }
        div {
            opacity: 0.6;
        }
    }
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: 13px;
        padding: 12px 15px;
        width: 100%;
        &:first-child {
            margin-right: 15px;
        }
    }
}

.border-left-sep {
    border-left: 1px solid #ededed;
}

@media (max-width: 768px) {
    .border-left-sep {
        border-left: 0;
    }
}

.close-modal {
    position: absolute;
    right: 20px;
    top: 10px;
}

.sticky-btn {
    background: #D60D45;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    height: 51px;
    width: 51px;
    padding: 6px 15px 7px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-transform: uppercase;
    z-index: 999;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    &.call {
        &::before {
            content: '';
            width: 62px;
            bottom: -8px;
            right: -7px;
            position: absolute;
            height: 62px;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 9px 8px #d60d45;
            -webkit-animation: doublePulse 1.5s ease infinite;
            animation: doublePulse 1.5s ease infinite;
        }
    }
    span {
        display: none;
    }
    &.whatsapp {
        background: #44be54;
        margin-top: 60px;
    }
}

@-webkit-keyframes doublePulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes doublePulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .mobile-foot {
        position: fixed;
        bottom: 0;
        z-index: 11;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0px -1px 4px 1px rgb(0 0 0 / 7%);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sticky-btn {
        position: static;
        border: none;
        width: 60%;
        height: auto;
        border-radius: 0;
        padding: 9px 15px 9px;
        border-right: 1px solid #cdcdcd;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0;
        transform: translateY(0);
        &::before,
        i {
            display: none;
        }
        span {
            display: block;
        }
        &.whatsapp {
            margin: 0;
        }
    }
}

.widget ul li {
    margin-bottom: 7px;
}

.featured-img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.tour-card-list {
    border-bottom: 1px solid #d3d3d3;
    padding: 19px 0;
    .center {
        margin-top: 10px;
    }
    h3 {
        font-size: 16px !important;
    }
}

.sidebar-widget {
    max-width: 350px;
    margin: 40px auto;
    .form-input label {
        top: 29px;
    }
    .box {
        border: 1px solid #ededed;
        padding: 20px;
    }
    .form-input input:focus~label {
        transform: translateY(-20px);
    }
}

.tour-duration {
    border: 1px solid #d6d6d6;
    padding: 2px 5px;
    font-size: 13px;
    margin-bottom: 10px;
}

// .preloader {
//     opacity: 0;
// }
.accordion.-map .mt-40 {
    margin-top: 0px !important;
}

.enquiry-modal {
    .form-input {
        input {
            padding-top: 18px;
            min-height: 40px;
        }
        label {
            top: 17px;
        }
    }
}

.file-upload {
    position: relative;
    input {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 999;
    }
}

.delete-img {
    background-color: #D60D45;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    label {
        font-size: 15px;
        font-weight: 500;
    }
    input,
    textarea,
    select {
        border: 1px solid #dddddd;
        border-radius: 4px;
        padding: 0 15px;
        min-height: 50px;
        margin-top: 10px;
    }
}

.form-card {
    border: 1px solid #6143431f;
    max-width: 98%;
    margin: 10px auto;
    padding: 26px;
}

.cursor {
    cursor: pointer;
}

.action-btn {
    background-color: #3554d1;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    min-width: 40px;
    display: inline-block;
    text-align: center;
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    &:hover {
        background-color: #3554d1;
        color: #fff;
    }
    &.delete {
        background-color: red;
    }
    &.view {
        background-color: #015545;
    }
}

.multiselect-dropdown .dropdown-btn {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 0 15px;
    min-height: 50px;
    margin-top: 10px;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    border: 1px solid #3554d1 !important;
    background: #3554d1 !important;
    padding: 5px 5px !important;
    color: #fff !important;
}

.accordion-button {
    background-color: transparent !important;
    font-size: 17px;
    color: #000 !important;
    box-shadow: none !important;
    font-weight: 600;
}

.accordion {
    .accordion-header {
        margin-bottom: 10px;
        border-bottom: 1px solid #d1d1d1;
    }
}

.sticy-top {
    position: sticky;
    top: 70px;
}

.dashboard__sidebar {
    .accordion-item,
    .accordion-header,
    .accordion-button {
        border: 0;
    }
    .accordion-button {
        padding: 15px;
        font-size: 16px;
        color: var(--color-dark-1);
        box-shadow: none !important;
        font-weight: 500;
        &::after {
            width: 15px;
            height: 15px;
            background-size: 15px;
            display: none;
        }
    }
    .accordion-body {
        padding: 0 30px;
        li {
            margin-bottom: 10px;
        }
    }
}

table {
    tr {
        td {
            font-size: 14px;
            p {
                margin-bottom: 10px;
                font-size: 14px;
            }
            img {
                width: 80px;
                height: 50px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

.box-shadow {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    position: relative;
    padding: 20px 0px 10px 0px;
}

.text-block {
    padding: 30px 30px 20px;
    background-color: #fff;
    .content {
        max-height: 190px;
        overflow: hidden;
        position: relative;
        &.active {
            max-height: 1000px;
            overflow-y: auto;
            &::after {
                display: none;
            }
        }
        &::after {
            position: absolute;
            height: 60px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            content: "";
            background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
        }
    }
    .read-more {
        text-align: right;
        color: var(--primary-color);
    }
}

.listing-types {
    margin-top: -60px;
    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }
    .single-slide {
        margin-right: 35px;
        text-align: center;
        margin-bottom: 10px;
        .cat-icon {
            width: 60px;
            height: 60px;
            background-color: #fff;
            border-radius: 50%;
            overflow: hidden;
            margin: 10px auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 991px) {
    header a.button {
        display: none;
    }
}