<app-admin-layout>
    <router-outlet>

        <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
            <div class="dashboard__sidebar bg-white scroll-bar-1">
                <app-admin-sidebar></app-admin-sidebar>
            </div>
            <div class="dashboard__main">
                <div class="dashboard__content bg-light-2">
                    <div class="row y-gap-20 justify-between items-end pb-30 lg:pb-40 md:pb-32">
                        <div class="col-auto">
                            <h1 class="text-25 lh-14 fw-600">Blogs</h1>
                        </div>
                        <div class="col-auto">
                            <a [routerLink]="['/admin/blogs/add']" class="button h-50 px-24 -dark-1 bg-blue-1 text-white"> Add Post <div class="icon-arrow-top-right ml-15"></div>
                </a>
                        </div>
                    </div>
                    <div class="py-30 px-30 rounded-4 bg-white shadow-3">
                        <div class="row y-gap-20">
                            <div class="col-12">
                                <div class="row y-gap-30">
                                    <div class="overflow-scroll scroll-bar-1">
                                        <table class="table-3 -border-bottom col-12">
                                            <thead class="bg-light-2">
                                                <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Featured Image</th>
                                                    <th>Post Title</th>
                                                    <th>Category </th>
                                                    <th>SEO</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of blogPosts; index as i">
                                                    <td>{{i +1 }}</td>
                                                    <td><img [src]="env.host + env.filePath + item.featuredImage"></td>
                                                    <td [routerLink]="['/blog', item.slug]"> {{item.title}}</td>
                                                    <td>{{item.category?.name }}</td>
                                                    <td>
                                                        <p>Title: {{item.seo?.title}} </p>
                                                        <p>Description : {{item.seo?.description }}</p>
                                                        <p> Keywords : {{item.seo?.keywords }}</p>
                                                    </td>
                                                    <td>{{item.createdAt | date: 'dd/MM/yyyy' }}</td>
                                                    <td>
                                                        <div class="row x-gap-10 y-gap-10 justify-end items-center md:justify-start">
                                                            <div class="col-auto">
                                                                <a [routerLink]="['/admin/blogs/edit', item?._id]" class="action-btn edit"> Edit </a>
                                                            </div>
                                                            <div class="col-auto">
                                                                <a class="action-btn delete" (click)="deletePost(item?._id)"> Delete </a>
                                                            </div>
                                                            <div class="col-auto">
                                                                <a [routerLink]="['/blog/', item?._id]" target="_blank" class="action-btn view"> View </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-admin-footer></app-admin-footer>
                </div>
            </div>
        </div>
    </router-outlet>
</app-admin-layout>