<app-user-layout>
    <router-outlet>


        <main>

            <section class="d-flex items-center py-15 border-top-light">
                <div class="container">
                    <div class="row y-gap-10 items-center justify-between">
                        <div class="col-auto">
                            <div class="row x-gap-10 y-gap-5 items-center text-14 text-light-1">
                                <div class="col-auto">
                                    <div class="">Home</div>
                                </div>
                                <div class="col-auto">
                                    <div class="">></div>
                                </div>
                                <div class="col-auto">
                                    <div class="" [routerLink]="['/blogs']">Blogs</div>
                                </div>
                                <div class="col-auto">
                                    <div class="">></div>
                                </div>
                                <div class="col-auto">
                                    <div class="text-dark-1">{{category}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="layout-pt-md layout-pb-lg">
                <div class="container">
                    <div class="row justify-center text-center">
                        <div class="col-auto">
                            <div class="sectionTitle -md">
                                <h2 class="sectionTitle__title">Travel articles : {{category}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="tabs -pills-3 pt-30 js-tabs">
                        <div class="tabs__content pt-30 js-tabs-content">

                            <div>
                                <div class="row y-gap-30">

                                    <div class="col-lg-3 col-sm-6" *ngFor="let item of articles">

                                        <a [routerLink]="['/blog', item?._id]" class="blogCard -type-1 d-block ">
                                            <div class="blogCard__image">
                                                <div class="ratio ratio-4:3 rounded-8">
                                                    <img class="img-ratio js-lazy" [src]="env.host + env.filePath + item?.featuredImage" alt="image">
                                                </div>
                                            </div>

                                            <div class="pt-20">
                                                <h4 class="text-dark-1 text-18 fw-500">{{item.title}}</h4>
                                                <div class="text-light-1 text-15 lh-14 mt-5">{{item?.createdAt | date : 'medium'}}</div>
                                            </div>
                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>


        </main>

    </router-outlet>
</app-user-layout>