<section class="listing-types">
    <div class="container box-shadow rounded-10">
        <div class="row">
            <div class="col">
                <div class="wrap">
                    <div class="single-slide" [routerLink]="['/destinations']">
                        <div class="cat-icon">
                            <img src="assets/img/icons/hiking.png">
                        </div>
                        <div>Activities</div>
                    </div>
                    <div class="single-slide" [routerLink]="['/tour/packages']">
                        <div class="cat-icon">
                            <img src="assets/img/icons/travel-and-tourism.png">
                        </div>
                        <div>Tours</div>
                    </div>
                    <div class="single-slide" [routerLink]="['/blogs']">
                        <div class="cat-icon">
                            <img src="assets/img/icons/blogs.png">
                        </div>
                        <div>Blogs</div>
                    </div>
                    <div class="single-slide" [routerLink]="['/contact']">
                        <div class="cat-icon">
                            <img src="assets/img/icons/tickets.png">
                        </div>
                        <div>Booking</div>
                    </div>
                    <div class="single-slide" [routerLink]="['/destinations']">
                        <div class="cat-icon">
                            <img src="assets/img/icons/world.png">
                        </div>
                        <div>Destinations</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>