<app-user-layout>
    <router-outlet>
        <main>

            <main>

                <section class="section-bg layout-pt-lg layout-pb-lg">
                    <div class="section-bg__item col-12">
                        <img src="assets/img/pages/about/1.png" alt="image">
                    </div>

                    <div class="container">
                        <div class="row justify-center text-center">
                            <div class="col-xl-6 col-lg-8 col-md-10">
                                <h1 class="text-40 md:text-25 fw-600 text-white">About Us</h1>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-lg layout-pb-md">
                    <div class="container">
                        <div class="row y-gap-30">
                            <div class="col-xl-4 col-lg-5">
                                <h2 class="text-30 fw-600">Why Choose Us</h2>
                                <p class="mt-5">These popular destinations have a lot to offer</p>

                                <p class="text-dark-1 mt-40 sm:mt-20">We understand that every traveler is unique and has their own specific interests and preferences when it comes to travel. That's why we offer personalized itineraries that are designed just for you. Whether you're looking
                                    for a relaxing beach vacation or an action-packed adventure,

                                </p>

                                <div class="d-inline-block mt-40 sm:mt-20">

                                    <a [routerLink]="['/tour/packages']" class="button -md -blue-1 bg-yellow-1 text-dark-1">
                Learn More <div class="icon-arrow-top-right ml-15"></div>
              </a>

                                </div>
                            </div>

                            <div class="col-xl-6 offset-xl-1 col-lg-7">
                                <div class="row y-gap-60">

                                    <div class="col-sm-6">
                                        <img src="assets/img/featureIcons/3/1.svg" alt="image" class="size-60">
                                        <h5 class="text-18 fw-500 mt-10">Travel Planning Made Easy</h5>
                                        <p class="mt-10"> Let us take the hassle out of travel planning. Our user-friendly website makes it easy to search for and book tours, and more.</p>
                                    </div>

                                    <div class="col-sm-6">
                                        <img src="assets/img/featureIcons/3/2.svg" alt="image" class="size-60">
                                        <h5 class="text-18 fw-500 mt-10">Personalized Travel Packages</h5>
                                        <p class="mt-10">We understand that no two travelers are alike, so we offer personalized travel packages that are tailored to your unique interests and preferences.</p>
                                    </div>

                                    <div class="col-sm-6">
                                        <img src="assets/img/featureIcons/3/3.svg" alt="image" class="size-60">
                                        <h5 class="text-18 fw-500 mt-10">Discover Your Next Adventure</h5>
                                        <p class="mt-10">Explore Unique Destinations with Our Expert Guidance</p>
                                    </div>

                                    <div class="col-sm-6">
                                        <img src="assets/img/featureIcons/3/4.svg" alt="image" class="size-60">
                                        <h5 class="text-18 fw-500 mt-10">Plan Your Dream Getaway</h5>
                                        <p class="mt-10">Personalized Itineraries Tailored to Your Preferences</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>




                <section class="layout-pt-md">
                    <div class="container">
                        <div class="row y-gap-30 justify-between items-center">
                            <div class="col-lg-5">
                                <h2 class="text-30 fw-600">About Trigoyo.com</h2>
                                <p class="text-dark-1 mt-20 lg:mt-40 md:mt-20">
                                    "Trigoyo is one of India’s leading travel and tourism company who gives you best travelling experience of your life. We Are Trigoyo Team and we provide best travel packages all around the world. Our core strength is handling highly specialized products
                                    related to travel/tourism around the world. Being one of the leading Travel & Tour companies in Uttarakhand, we are always at the service of our valued associates and customers in providing the most professional and
                                    personalized services. We are a company of trusted, passionate travel specialists who create customized luxury journeys to inspiring destinations. Our trips are completely based around your interests and schedule they
                                    are one-of-a-kind experiences."
                                </p>
                            </div>

                            <div class="col-lg-6">
                                <img src="assets/images/tourism.webp" alt="image" class="rounded-4">
                            </div>
                        </div>
                    </div>
                </section>

                <section class="pt-60">
                    <div class="container">
                        <div class="border-bottom-light pb-40">
                            <div class="row y-gap-30 justify-center text-center">

                                <div class="col-xl-3 col-6">
                                    <div class="text-40 lg:text-30 lh-13 fw-600">10+</div>
                                    <div class="text-14 lh-14 text-light-1 mt-5">Destinations</div>
                                </div>

                                <div class="col-xl-3 col-6">
                                    <div class="text-40 lg:text-30 lh-13 fw-600">100+</div>
                                    <div class="text-14 lh-14 text-light-1 mt-5">Total Packages</div>
                                </div>

                                <div class="col-xl-3 col-6">
                                    <div class="text-40 lg:text-30 lh-13 fw-600">2M+</div>
                                    <div class="text-14 lh-14 text-light-1 mt-5">Happy customers</div>
                                </div>

                                <div class="col-xl-3 col-6">
                                    <div class="text-40 lg:text-30 lh-13 fw-600">200+</div>
                                    <div class="text-14 lh-14 text-light-1 mt-5">Our Volunteers</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>



            </main>
        </main>
    </router-outlet>
</app-user-layout>