<app-user-layout>
    <router-outlet>
        <main>
            <section class="d-flex items-center py-15  breadcrumb">
                <div class="container">
                    <div class="row y-gap-10 items-center justify-between">
                        <div class="col-auto">
                            <div class="row x-gap-10 y-gap-5 items-center text-14 text-light-1">
                                <div class="col-auto">
                                    <div routerLink="/" routerLinkActive="router-link-active">Home</div>
                                </div>
                                <div class="col-auto">
                                    <div>></div>
                                </div>
                                <div class="col-auto">
                                    <div class="text-dark-1">Contact</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="ratio ratio-16:9">
                                <div class="map-ratio">

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110194.2588399084!2d77.98378897648234!3d30.334729839056124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3909291280b35c01%3A0x4fba8522cfa0f7cc!2sTrigoyo!5e0!3m2!1sen!2sin!4v1676817464853!5m2!1sen!2sin"
                                        style="border:0; width: 100%; height: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="relative container">
                    <div class="row justify-end">
                        <div class="col-xl-5 col-lg-7">
                            <div class="map-form px-40 pt-20 pb-30 lg:px-30 lg:py-30 md:px-24 md:py-24 bg-white rounded-4 shadow-4">
                                <div class="text-22 fw-500">
                                    Send a message
                                </div>
                                <form [formGroup]="contactForm">

                                    <div class="row y-gap-20 pt-20">
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required formControlName="name">
                                                <label class="lh-1 text-16 text-light-1">Full Name</label>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" formControlName="email">
                                                <label class="lh-1 text-16 text-light-1">Email</label>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" required formControlName="phone">
                                                <label class="lh-1 text-16 text-light-1">Phone</label>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <input type="text" formControlName="subject">
                                                <label class="lh-1 text-16 text-light-1">Subject</label>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <div class="form-input ">
                                                <textarea required rows="4" formControlName="message"></textarea>
                                                <label class="lh-1 text-16 text-light-1">Your Messages</label>
                                            </div>

                                        </div>
                                        <div class="col-auto">

                                            <a class="button px-24 h-50 -dark-1 bg-blue-1 text-white" (click)="onSubmit()">
                          Send a Messsage <div class="icon-arrow-top-right ml-15"></div>
                        </a>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="layout-pb-md">
                <div class="container">
                    <div class="row x-gap-80 y-gap-20 justify-between">
                        <div class="col-12">
                            <div class="text-30 sm:text-24 fw-600">Contact Us</div>
                        </div>

                        <div class="col-lg-3">
                            <div class="text-14 text-light-1">Address</div>
                            <div class="text-18 fw-500 mt-10">D-6 Ranipur More, Rishikul, Devpura, Haridwar, Uttarakhand 249401</div>
                        </div>

                        <div class="col-auto">
                            <div class="text-14 text-light-1">Contact No.</div>
                            <div class="text-18 fw-500 mt-10">Phone: +91-9045119925</div>
                        </div>

                        <div class="col-auto">
                            <div class="text-14 text-light-1">Need live support?</div>
                            <div class="text-18 fw-500 mt-10">info@trigoyo.com</div>
                        </div>

                        <div class="col-auto">
                            <div class="text-14 text-light-1">Follow us on social media</div>
                            <div class="d-flex x-gap-20 items-center mt-10">
                                <a href="https://www.facebook.com/Trigoyo-434691423958652" target="_blank"><i class="icon-facebook text-14"></i></a>
                                <a href="https://twitter.com/Trigoyo1" target="_blank"><i class="icon-twitter text-14"></i></a>
                                <a href="https://www.instagram.com/trigoyo/?hl=en"><i class="icon-instagram text-14"></i></a>
                                <a href=" https://www.youtube.com/channel/UCUIJTAry3iqgiESkY9d6h4w/featured" target="_blank"><i class="fa-brands fa-youtube text-14"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main>


    </router-outlet>
</app-user-layout>