<section class="layout-pt-md layout-pb-md">
    <div class="container">
        <div class="row justify-center text-center">
            <div class="col-auto">
                <div class="sectionTitle -md">
                    <h2 class="sectionTitle__title">Recent Blog Posts</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row y-gap-30 pt-40">
            <div class="col-lg-3 col-sm-6" *ngFor="let blog of blogPosts">
                <a [routerLink]="['/blogs', blog.slug]" class="blogCard -type-2 d-block bg-white rounded-4 shadow-4">
                    <div class="blogCard__image">
                        <div class="ratio ratio-1:1 rounded-4">
                            <img class="img-ratio" [src]="env.host + env.filePath + blog?.featuredImage" alt="image">
                        </div>
                    </div>

                    <div class="px-20 py-20">
                        <h4 class="text-dark-1 text-16 lh-18 fw-500">{{blog?.title}}</h4>
                        <div class="text-light-1 text-15 lh-14 mt-10">{{blog?.createdAt | date : 'dd/MM/yyyy'}}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-center mt-40">
            <div class="col-auto">
                <a [routerLink]="['/blogs']" class="button h-50 w-200 -outline-blue-1 text-blue-1"> Explore more </a>
            </div>
        </div>
    </div>
</section>